[data-md-color-scheme="default"] {
    --md-primary-fg-color: #d7c9af;
    --md-primary-fg-color--light: #000000;
    --md-primary-fg-color--dark: #000000;
    --md-primary-bg-color: #000000;
    --md-primary-bg-color--light: #000000b3;
    --md-typeset-a-color: #000000;
    --md-accent-fg-color: #8d4400;
}